---
title: Catégorie
pagination:
  data: collections.categories
  size: 1
  alias: category
permalink: "/categories/{{ category | slugify }}/index.html"
layout: "page.njk"
---

<div class="article page__article">
    <img src="https://placehold.co/1700x700" alt="">

    <div class="article__inner">
        <h2 class="title title--main">Catégorie : {{ category }}</h2>

        {% assign posts = collections.post | filterByCategory: category %}
        {% for post in posts reversed %}
            <article class="book book--details">
                <a href="{{ post.url }}" class="book__link">
                    <img src="../../assets/img/cover/{{ post.data.couverture }}-th.webp" alt="couverture de {{ post.data.title }}" loading="lazy">
                </a>

                <div class="book__title">
                    <h3 class="title title--3">{{ post.data.title }}</h3>
                    <h4 class="title title--4">{{ post.data.author }}</h4>
                </div>

                <footer class="book__footer">
                    <p class="text text--sm">Date de publication : <span class="time" data-time="{{ post.date | niceDateJs }}">{{ post.date | niceDate }}</span></p>
                    <p class="text text--sm">Catégorie :
                        {% for cat in post.data.categories %}
                            <a href="/categories/{{ cat | slugify }}/index.html" class="link">{{ cat }}</a>
                        {% endfor %}
                    </p>
                </footer>
            </article>
        {% endfor %}
    </div>
</div>