---
title: Editeur
pagination:
  data: collections.editeurs
  size: 1
  alias: editeur
permalink: "/editeurs/{{ editeur | slugify }}/index.html"
layout: "base.njk"
---

<article class="article">
  <div class="article__metadata article__metadata--highlight">
    <h3 class="article__title title">{{ editeur }}</h3>
    {% assign editorActive = editeur | slugify %}
    {% for description in editors %}
      {% if description[0] == editorActive %}
        {{ description[1] }}
      {% endif %}
    {% endfor %}

  </div>
  <div class="article__description article__description--big">
    <ul class="booksList">

      {% assign posts = collections.post | filterByEditeur: editeur %}
      {% for post in posts reversed %}
        <li class="booksList__item book">
          <div class="book__img">
            <img
              src="../../assets/img/cover/{{ post.data.couverture }}-th.webp"
              class="img-resp"
              alt="couverture de {{ post.data.title }}"
              loading="lazy">
          </div>
          <a href="{{ post.url }}" class="book__link">
            <h3 class="title title--2 book__content">{{ post.data.title }}</h3>
            <p class="book__content">Auteur :
              {% for auteur in post.data.auteurs %}
                {{ auteur }}
              {% endfor %}
            </p>
            <p class="book__content">Date :
              <span class="time" data-time="{{ post.data.datePublication | niceDateJs }}">{{ post.data.datePublication | niceDate }}</span>
            </p>
            <p class="book__content">Editeur :
              {% for editeur in post.data.editeurs %}
                {{ editeur }}
              {% endfor %}
            </p>
            <p class="book__content">Langue :
              {% for langue in post.data.langues %}
                {{ langue }}
              {% endfor %}
            </p>
            <p class="book__content">Tags :
              {% for cat in post.data.categories %}
                {{ cat }}
              {% endfor %}
            </p>
          </a>
        </li>

      {% endfor %}
    </ul>
  </div>
</article>